<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if destroy_user? user %>|
    <%= link_to t("delete_btn"), user, data: { "turbo-method": :delete,turbo_confirm: t("sure") }%>
  <% end %>
</li>
