<%= link_to gravatar_for(user), user %>
<h1><%= user.name %></h1>
<span><%= link_to t("user_redirect.profile"), user %></span>
<span><%= pluralize user.microposts.count, t("microposts.micropost") %></span>
