<tr>
   
  <td><%= product.name%></td>
  </br>
  <td><%= link_to 'Show', product%></td>

  <td><%= link_to 'Edit', edit_product_path(product)%></td>

  <td><%= link_to 'Destroy', product,method: :delete, data: {confirm:"Are u sure?"}%></td>
  </br>
</tr>